.container {
  width: 100vw;
  margin: 0;
  background-image: url(src/Images/Exterior.jpeg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
}

.info {
  width: 600px;
  max-width: 90%;
  height: 200px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 50px;
  color: var(--blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.title {
  margin: 0;
  font-size: 2em;
}

.content {
  color: white;
  font-size: 1em;
}

.container,
.content,
.info,
.title {
  cursor: default;
}

@media (max-width: 768px) {
  .info {
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    justify-content: center;
    height: 90%;
    background-position: 65%;
  }

  .title {
    font-size: 1.5em;
  }

  .content {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .info {
    padding: 5px;
  }

  .title {
    font-size: 1.2em;
  }

  .content {
    font-size: 0.8em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
