.container{
    width: 100vw;
    margin: 0;
    background-image: url(src/Images/Exterior.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.info{
    width: 600px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    margin: 0;
    margin-left: 20px;
    padding: 10px;
    color: var(--lightBlue);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    margin: 0;
}

.content{
    color: white;
}

.container, .content, .info, .title{
    cursor: default;
}