/* Default styles */
.container {
    width: 100%;
    height: 100%;
    background-image: url(src/Images/brickwall5k.jpeg);
    background-size: cover;
  }
  
  /* Responsive styles for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  