.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    height: 60vh;
    width: 100vw;
    margin: 0;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contacts, .emailForm, .map {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.emailForm {
    justify-content: start;
    align-items: center;
}

.formHeader {
    color: var(--lightBlue);
    margin: 0;
    cursor: default;
}

.mapInsert {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 8px;
}

.info {
    color: white;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .container{
        margin-top: 400px;
    }
    .footer {
        flex-direction: column; /* Changes direction to column for smaller viewports */
        height: auto;
        padding: 20px 0;
        align-items: start;     /* Align items to the start in column direction */
        gap: 15px;            /* Spacing between the items */
    }

    .contacts, .emailForm, .map {
        width: 90%; /* Adjust the width for smaller devices */
        margin: 0 auto; /* Centers the content on small screens */
    }
}
