.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0;
  height: 40px;
  align-items: center;
  padding-left: 30px;
  background-color: white;
}

.button {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  color: var(--yellow);
  transform: scale(1.1);
}

.button.active {
  color: var(--yellow);
}
