.header{
    margin: 0;
    width: 100wv;
    height: 80px;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    margin: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}