.header {
    margin: 0;
    width: 100vw;
    height: 80px;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    margin: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    animation: slideFromLeft 1s forwards;
}

.socMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-right: 50px; 
}

.icon {
    width: 25px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation: slideFromRight 1s forwards;
}

.icon:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .header {
        padding-left: 0px;
        padding-right: 0px;
    }

    .socMedia {
        margin-right: 0; 
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.socMedia .icon:nth-child(1) {
    animation-delay: 0.2s;
}

.socMedia .icon:nth-child(2) {
    animation-delay: 0.4s;
}

@media (max-width: 480px) {
    
}